table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 700px;
}

tr:nth-child(even) {
    background-color: #eaeaea;
    transition: 0.1s;

}

tr:hover {
    background-color: rgba(213, 255, 201, 0.39);
}

img {
    width: 80%;
    max-width: 100%;
}

#displayResort table th {
    text-transform: capitalize;
}

.lightbox .thumbnail {
    margin: 1em auto;
}

.lightbox img {
    width: 100%;
}

.headerResort {
    border: solid;
    background-color: #535252;
    padding: 85px 60px;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url('https://media.gettyimages.com/photos/matterhorn-at-night-picture-id149520728');
    margin-bottom: 40px;
    color: white;
    background-position: center;
}

.img-modal {
    width: 86%;
    margin: 30px auto;
}

.comment-btn{
    float: right;
    margin-top: 7px;
}
.collapse.in {
    display: block;
    border: solid 1px #aaaaaa;
    padding: 15px;
    padding-bottom: 40px;
    margin-top: 10px;}